@import "office-ui-fabric-core/dist/sass/References";

.side-bar {
  width: 15rem;
  transition-delay: 0s;
  .side-bar-list {
    height: 455px;
    .side-bar-list-item {
      border-radius: 2px;

      &:hover {
        box-shadow: $ms-depth-shadow-16;
      }
    }
  }
}

.search-bar {
  border-color: rgb(97, 97, 97);
}
