.site-map-content {
  max-height: 100vh;
}

.site-btns > div {
  transform: none !important;
  top: 2.5rem !important;
  left: 2rem !important;
}

.site-controls {
  z-index: 99999999;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.pump-stats {
  z-index: 99999999;
  position: absolute;
  bottom: 4rem;
  left: 1rem;

  span {
    font-family: consolas;
  }
}
