.site-map-content {
  max-height: 90vh;
  &.full-screen {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
  }
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.site-btns > div {
  transform: none !important;
  top: 2.5rem !important;
  left: 2rem !important;
}

.site-controls {
  z-index: 99999999;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.pump-stats {
  z-index: 99999999;
  position: absolute;
  bottom: 4rem;
  left: 1rem;

  span {
    font-family: consolas, monaco, monospace;
  }
}
