@import "../../variables.scss";
.camera-toggle-btn {
  bottom: 0.5rem;
  z-index: 99999;
  left: 50%;
  transform: translate(-50%, -50%);
  .active {
    color: map-get($colors, "white");
    background-color: map-get($colors, "themeDarkAlt");
  }
}

.reset-home-btn {
  top: 3.5rem;
  z-index: 99999;
  right: 10%;
}
