@import "../../../variables.scss";
.camera-toggle-btn {
  bottom: 0.75rem;
  z-index: 999999999;
  left: 50%;
  transform: translate(-50%, -50%);
  .active {
    color: map-get($colors, "white");
    background-color: map-get($colors, "themeDarkAlt");
  }
}
