@import "variables";
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  height: 100vh;
}

.text-overflow-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
