@import "variables";

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
.position-sticky {
  position: sticky;
}

// padding

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

// margin
.m-2 {
  margin: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

// cursor

.cursor-pointer {
  cursor: pointer;
}

//overflow

.overflow-auto {
  overflow: auto;
}

.overflow-overlay {
  overflow: overlay;
}

.overflow-hidden {
  overflow: hidden;
}

// display
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
